<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel='stylesheet' href='stylesheets/index.css'/>
    <link rel="stylesheet" href="stylesheets/experiment.css" />

</head>
<body class="experiment">
<div class="main-container">
    <div class="top-container">
        <div class="text-div">
            <h1>Please, Sign in to continue!</h1>
        </div>
        <div id="login-button-div" class="flex-top">
            <a href="/login">
                <button class="button">Sign in</button>
            </a>
        </div>
    </div>
    <h1 id="hello">Welcome to TimeHelper system</h1>
    <blockquote class="bruce">
            <p><q>If you love life, don't waste time, for time is what life is made up of.</q></p>
            <footer>— Bruce Lee</footer>
          </blockquote> 
<div class="wrapper">
            <div id="experiment">
                <div id="cube">
                    <div class="face one">
                        
                    </div>
                    <div class="face two">
                        Our feautures:
                        (move cube by left,right,up,down)
                    </div>
                    <div class="face three">
                         et dolore ex ea commodo consequat.
                    </div>
                    <div class="face four">
                        New forms of navigation are fun.
                    </div>
                    <div class="face five">
                        Rotating 3D cube
                    </div>
                    <div class="face six">
                    
                    </div>
                </div>
            </div>
            
                  </div>
          <div class="footer">
                <div class="copy"><h2>Copyright © 2017 Cloud Solutions Inc. All rights reserved.</h2></div>
            </div>
          
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="js/experiment.js"></script>

</body>
</html>
