<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel='stylesheet' href='stylesheets/index.css'/>
</head>
<body class="experiment">
<div class="main-container">
    <div class="top-container">
        <div class="text-div">
            <h1>Hi guest, please Sign in to continue!</h1>
        </div>
        <div id="login-button-div" class="flex-top">
            <a href="/login">
                <button class="button">Sign in</button>
            </a>
        </div>
    </div>
    <h1 id="hello">Welcome to TimeHelper system</h1>
    <blockquote class="bruce">
            <p><q>If you love life, don't waste time, for time is what life is made up of.</q></p>
            <footer>— Bruce Lee</footer>
          </blockquote>  
          <div class="footer">
                <div class="copy"><h2>Copyright © 2017 Cloud Solutions Inc. All rights reserved.</h2></div>
            </div>
          </div>
</body>
</html>
