<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>
<body>
    <div class="main-container">
        <div class="top-container">
            <div class="flex-top">
                <h2>Hello, <%= name %> (<%= email %>)!</h2>
                <img class="user-profile" src="<%= picture %>" alt="picture" />
            </div>
        </div>
    </div>
</body>
</html>
